div {
  background-color: antiquewhite;
  color:brown;
  padding: 50px;
}

h1 {
  color: saddlebrown;
}

h3 {
  color: tomato;
}

.class1 {
  background-color: burlywood;
}

#id2 {
  background-color: darkgrey;
}